{% extends "spelunker/base.html" %}

{% load staticfiles %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block content %}
<div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">
	<div class="mdl-cell mdl-cell--12-col">
		<h1 class='big'>{{ bigTitle }}</h1>
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		<img class='overview' src="{% static 'spelunker/images/block.png' %}">
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		<img class='overview' src="{% static 'spelunker/images/transaction.png' %}">
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		<img class='overview' src="{% static 'spelunker/images/input.png' %}">
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		<img class='overview' src="{% static 'spelunker/images/output.png' %}">
	</div>
	<div class="mdl-cell mdl-cell--12-col overviewText">
		<h4>{{ pageText }}</h4>
	</div>
	<form action='{% url 'search' %}' method="post" id="search2" class="mdl-color--white mdl-cell mdl-cell--12-col">{% csrf_token %}
		{{ form }}
		<button type="submit" form="search2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
  			Search
		</button>
	</form>
</div>
{% endblock %}