{% extends "spelunker/base.html" %}

{% block title %}Input Overview{% endblock %}

{% block content %}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h3>Input #{{ input.id }}</h3>
	</div>
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h5>Parent Transaction:</h5>
		<p>{{ input.transaction.transaction_hash }}</p>
	</div>
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h5>Parent Block Number:</h5>
		<h6>{{ input.transaction.block.id }}</h6>
	</div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h3>Input Content</h3>
	</div>
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h5>Is Coinbase:</h5>
		<h6>{{ input.coinbase }}</h6>
	</div>
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h5>Sequence Number:</h5>
		<h6>{{ input.sequence_number }}</h6>
	</div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid">
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h3>Original Output</h3>
	</div>
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h5>Original Transaction:</h5>
		<p>{{ input.transaction_hash }}</p>
	</div>
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h5>Original Output Index:</h5>
		<h6>{{ input.transaction_index }}</h6>
	</div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<h3>Script</h3>
	</div>
	<div class="mdl-color--white mdl-cell mdl-cell--12-col">
		<p>{{ input.script }}</p>
	</div>
</div>
</div>
{% endblock %}